<h1>Your score</h1>
<% if @included %> <% if @english_word %>
<p><strong>You won! </strong><%= @word %> is a valid English word</p>
<% else %>
<p>Sorry but <strong><% @word %></strong>is not an English word</p>
<%end %> <%else %>
<p>Sorry but <strong><%= @word%></strong> is not a valid word</p>
<%end %> <%= link_to "New game", new_path %>
